<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <title>Express Add a Movie</title>
    <link rel="stylesheet" href="./public/style.css">
</head>

<body>
    movie-add
</body>

</html>