<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <title>Express Movies Details</title>
    <link rel="stylesheet" href="./public/style.css">
</head>

<body>
    <% include ./partials/header.ejs %>
        <h1>Express Movies Details</h1>
        <div>
            <%= movie_id %>
        </div>
        <% include ./partials/footer.ejs %>
</body>

</html>