<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <title>Express Movies Details</title>
    <link rel="stylesheet" href="./public/style.css">
</head>

<body>
    <h1>Express Movies Details</h1>
    <div>
        <%= movie_id %>
    </div>
</body>

</html>